@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 20% 96%;
    --foreground: 222 84% 4.9%;
    --card: 210 20% 100%;
    --card-foreground: 222 84% 4.9%;
    --popover: 210 20% 100%;
    --popover-foreground: 222 84% 4.9%;
    --primary: 204 70% 63%;
    --primary-foreground: 222 84% 4.9%;
    --secondary: 210 20% 90%;
    --secondary-foreground: 222 84% 4.9%;
    --muted: 210 20% 90%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 37 90% 51%;
    --accent-foreground: 35 92% 30%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 20% 85%;
    --input: 210 20% 88%;
    --ring: 204 70% 63%;
    --chart-1: 204 70% 63%;
    --chart-2: 37 90% 51%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 210 20% 100%;
    --sidebar-foreground: 222 84% 4.9%;
    --sidebar-primary: 204 70% 63%;
    --sidebar-primary-foreground: 222 84% 4.9%;
    --sidebar-accent: 210 20% 90%;
    --sidebar-accent-foreground: 222 84% 4.9%;
    --sidebar-border: 210 20% 85%;
    --sidebar-ring: 204 70% 63%;
  }

  .dark {
    --background: 222 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 224 71% 10%;
    --card-foreground: 210 40% 98%;
    --popover: 222 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 204 70% 63%;
    --primary-foreground: 222 84% 4.9%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 37 90% 51%;
    --accent-foreground: 35 92% 30%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 204 70% 63%;
    --chart-1: 204 70% 63%;
    --chart-2: 37 90% 51%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 224 71% 4%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 204 70% 63%;
    --sidebar-primary-foreground: 222 84% 4.9%;
    --sidebar-accent: 217.2 32.6% 17.5%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217.2 32.6% 17.5%;
    --sidebar-ring: 204 70% 63%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
